<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12 mt-4">
            <div class="card ">
              <div class="card-header ">
                <span class="text-dark h4 font-weight-bold text-uppercase">
                    <i class="nc-icon nc-simple-add"></i> Nouveau livraison
                </span>
                <a href="livraisons" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                    <i class="nc-icon nc-bullet-list-67"></i> listes livraisons 
                </a>
              </div>
              <div class="card-body ">
                <div class="account-details-form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1"><i class="nc-icon nc-watch-time"></i> Commande de produit </label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1"><i class="nc-icon nc-user-run"></i> Livreur </label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1"><i class="nc-icon nc-tap-01"></i> Points de relais </label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="now-ui-icons location_pin"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Adresse complet">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="now-ui-icons location_pin"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Seconde adresse">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-globe"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Lien map (GPS)">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
              <div class="card-footer text-center p-4">
                <hr>
                
                <button class="btn btn-primary col-10 btn-round btn-sm m-1"> Enregistrer Livraison </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>