
.saved-message {
    box-shadow: 0px 0px 1px #555555;
    border-left: 3px solid #ff4545;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    font-size: 15px;
    color: #666666;
    padding: 20px;
  }