<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12 mt-4">
            <div class="card ">
              <div class="card-header ">
                <span class="text-dark h4 text-uppercase">
                    <i class="nc-icon nc-bag-16"></i> Modifier produit
                </span>
                <a href="produits" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                  <i class="nc-icon nc-bullet-list-67"></i>  Listes produits 
                </a>
                <a href="produits-new" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                  <i class="nc-icon nc-simple-add"></i> Nouveau produit 
                </a>
              </div>
              <div class="card-body ">
                <div class="account-details-form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 text-center">
                              <small>image pour produit</small>
                              <button class="btn btn-primary btn-sm btn-link btn-round col-10"> <i class="nc-icon nc-image"></i> inserer image </button>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-bag-16"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nom produit">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-money-coins"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Prix de produit">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-money-coins"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Ancien prix de produit">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1"><i class="nc-icon nc-shop"></i> Catégorie de produit </label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1"><i class="nc-icon nc-shop"></i> Boutique de produit </label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
              <div class="card-footer text-center p-4">
                <hr>
                
                <button class="btn btn-primary col-10 btn-round btn-sm m-1"> Enregistrer produit </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>