<div class="wrapper">
  <div class="page-header align-items-start min-vh-100"
    style="background-image: url('assets/images/bg-6.jpg'); background-size: cover; background-position: top center; min-height: 700px;"
    loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card card-signup" data-background-color="green">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="valide()">
              <div class="card-header text-center">
                <div class="social-line">
                  <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round"
                    style="background-image:url(assets/images/v_logo_5.png); background-size: 100% 100%;">
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round"
                    style="background-image:url(assets/images/v_logo_1.png); background-size: cover">

                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round"
                    style="background-image:url(assets/images/v_logo_6.png); background-size: 100% 100%; position: relative;">
                  </a>
                </div>
                <h3 class="card-title font-weight-bold text-dark title-up">
                  <i class="now-ui-icons users_circle-08"></i> Se connecter
                </h3>
              </div>
              <div class="card-body">
                <div class="input-group no-border">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-dark">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Votre email" formControlName="email">
                  <a class="text-right small text-danger col-12" href="auth-reset">
                    <div *ngIf="control('email')?.invalid && (control('email')?.dirty || control('email')?.touched)"
                      class="alertmsg">

                      <div *ngIf="control('email')?.errors?.['required']">
                        Ce champs est obligatoire (<i class="now-ui-icons users_circle-08"></i> Login)
                      </div>
                    </div>
                  </a>
                  <div class="input-group no-border mt-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text text-dark">
                        <i class="nc-icon nc-lock-circle-open"></i>
                      </span>
                    </div>
                    <input type="text" placeholder=" Mot de passe" class="form-control" formControlName="password" />

                    <div
                      *ngIf="control('password')?.invalid && (control('password')?.dirty || control('password')?.touched)"
                      class="alertmsg">
                    </div>
                    
                    <a class="text-right small col-12" href="auth-reset">
                      <div class="col-12"
                        *ngIf="control('password')?.invalid && (control('password')?.dirty || control('password')?.touched)">
                        <div *ngIf="control('password')?.errors?.['required']" class="text-danger">
                          Ce champs est obligatoire (<i class="nc-icon nc-lock-circle-open"></i> Mot de Passe)
                        </div>
                      </div>
                    </a>
                    <a class="text-right text-xs text-dark col-12 mt-1" href="auth-reset">
                      <i class="nc-icon nc-lock-circle-open"></i> mot de passe oublié ?
                    </a>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-neutral text-dark col-10 text-uppercase btn-sm btn-round" type="submit">
                    se connecter <i class="fa fa-sign-in"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer class="footer" data-background-color="black">
      <div class=" container ">
        <nav>
          <i class="fas fa-cc-paypal m-2 text-sm"></i>
          <i class="fas fa-cc-visa m-2 text-sm"></i>
          <i class="fas fa-cc-mastercard m-2 text-sm"></i>
          <i class="fas fa-cc-discover m-2 text-sm"></i>
          <i class="fas fa-cc-amex m-2 text-sm"></i>
        </nav>
        <div class="copyright" id="copyright">
          &copy; 2025 <span class="text-uppercase font-weight-bold text-primary">Admin • Metanov </span>. Réserve tous les droits.
        </div>
      </div>
    </footer>
  </div>
</div>