<div class="wrapper ">
  <app-header></app-header>
  <div class="main-panel">
    <!-- Navbar -->
    <app-nav></app-nav>
    <!-- End Navbar -->
    <div class="content pt-4">
      <div class="row mt-4">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="produits" class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-dark">
                    <i class="nc-icon nc-bag-16 text-dark"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category text-dark font-weight-bold text-uppercase">Produits</p>
                    <p class="small text-sm">150 000<p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="categories" class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-dark">
                    <i class="nc-icon nc-tag-content text-dark"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category text-dark text-uppercase font-weight-bold">Catégories</p>
                    <p class="small">1345<p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="marques" class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-dark">
                    <i class="now-ui-icons location_bookmark text-dark"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category text-dark text-uppercase font-weight-bold">Marques</p>
                    <p class="small">1345<p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="commandes" class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-dark">
                    <i class="nc-icon nc-watch-time text-dark"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category text-dark text-uppercase font-weight-bold">Commandes</p>
                    <p class="small">150 000<p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Utilisateurs | MB • METATNOVA</h5>
              <p class="card-category">24 Heurs </p>
            </div>
            <div class="card-body ">
              <canvas id=chartHours width="400" height="100"></canvas>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i>  3 minutes après
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="commandes" class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-dark">
                    <i class="nc-icon nc-money-coins text-dark"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category text-dark text-uppercase font-weight-bold">Vendus</p>
                    <p class="small">1345<p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="livraisons" class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-dark">
                    <i class="nc-icon nc-delivery-fast text-dark"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category text-dark text-uppercase font-weight-bold">Livraisons</p>
                    <p class="small">23<p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="livraisons" class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-dark">
                    <i class="nc-icon nc-single-copy-04 text-dark"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category text-dark text-uppercase font-weight-bold">Factures</p>
                    <p class="small">23<p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>