<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12 mt-4">
            <div class="card ">
              <div class="card-header ">
                <span class="text-dark h4 text-uppercase">
                    <i class="nc-icon nc-tap-01"></i> Nouveau points
                </span>
                <a href="points" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                    <i class="nc-icon nc-bullet-list-67"></i> listes points 
                </a>
              </div>
              <div class="card-body ">
                <div class="account-details-form">
                    <form action="#">
                        <div class="row">
                          <div class="col-lg-4">
                            <small class="card-title">image pour profile du points</small> <br>
                            <div class="fileinput fileinput-new text-center">
                              <div class="fileinput-new thumbnail">
                                <img src="assets/images/2114932094.png" class="col-12" alt="...">
                              </div>
                              <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                  <span class="fileinput-new"><i class="nc-icon nc-image"></i> Select image du points</span>
                                  <span class="fileinput-exists">Change</span>
                                  <input type="file" name="..." />
                                </span>
                                <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <small class="card-title text-center">image pour couverture de profile du points </small> <br>
                            <div class="col-12">
                              <img src="assets/images/promo_2_bg.jpg" alt="...">
                            </div>
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                              <div class="fileinput-preview fileinput-exists thumbnail"></div>
                              <div>
                                <span class="btn btn-rose btn-round btn-file">
                                  <span class="fileinput-new"><i class="nc-icon nc-image"></i> Select image du points</span>
                                  <span class="fileinput-exists">Change</span>
                                  <input type="file" name="..." />
                                </span>
                                <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-tag-content"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Nom points">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-paper"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Description de points">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1"><i class="nc-icon nc-pin-3"></i> Points de villes </label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1"><i class="nc-icon nc-map-big"></i> Points de Pays </label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-lock-circle-open"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Mot de passe">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-lock-circle-open"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Confirme Mot de passe">
                              </div>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
              <div class="card-footer text-center p-4">
                <hr>
                
                <button class="btn btn-primary col-10 btn-round btn-sm m-1"> Enregistrer points </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>