<app-nav></app-nav>
<div class="wrapper">
      <div class="main mt-4">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                      <div class="card card-blog">
                        <a href="categories" class="card-image">
                          <img class="img rounded" src="assets/images/32755.jpg">
                        </a>
                        <div class="card-body">
                          <a href="categories" class="category h6 text-dark text-uppercase">
                            <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories
                          </a>
                          <h5 class="card-title h6 text-dark text-uppercase">
                            <a href="categories">Nom_Categorie</a>
                          </h5>
                          <div class="card-footer">
                            <div class="stats text-right">
                              <i class="fa fa-heart"></i> 342 ·
                              <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-blog">
                        <a href="categories" class="card-image">
                          <img class="img rounded" src="assets/images/32784.jpg">
                        </a>
                        <div class="card-body">
                          <a href="categories" class="category h6 text-dark text-uppercase">
                            <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories
                          </a>
                          <h5 class="card-title h6 text-dark text-uppercase">
                            <a href="categories">Nom_Categorie</a>
                          </h5>
                          <div class="card-footer">
                            <div class="stats text-right">
                              <i class="fa fa-heart"></i> 342 ·
                              <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-blog">
                        <a href="categories" class="card-image">
                          <img class="img rounded" src="assets/images/9579709.jpg">
                        </a>
                        <div class="card-body">
                          <a href="categories" class="category h6 text-dark text-uppercase">
                            <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories
                          </a>
                          <h5 class="card-title h6 text-dark text-uppercase">
                            <a href="categories">Nom_Categorie</a>
                          </h5>
                          <div class="card-footer">
                            <div class="stats text-right">
                              <i class="fa fa-heart"></i> 342 ·
                              <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-blog">
                        <a href="categories" class="card-image">
                          <img class="img rounded" src="assets/images/2147957031.jpg">
                        </a>
                        <div class="card-body">
                          <a href="categories" class="category h6 text-dark text-uppercase">
                            <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories
                          </a>
                          <h5 class="card-title h6 text-dark text-uppercase">
                            <a href="categories">Nom_Categorie</a>
                          </h5>
                          <div class="card-footer">
                            <div class="stats text-right">
                              <i class="fa fa-heart"></i> 342 ·
                              <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-blog">
                        <a href="categories" class="card-image">
                          <img class="img rounded" src="assets/images/2148015374.jpg">
                        </a>
                        <div class="card-body">
                          <a href="categories" class="category h6 text-dark text-uppercase">
                            <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories
                          </a>
                          <h5 class="card-title h6 text-dark text-uppercase">
                            <a href="categories">Nom_Categorie</a>
                          </h5>
                          <div class="card-footer">
                            <div class="stats text-right">
                              <i class="fa fa-heart"></i> 342 ·
                              <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-blog">
                        <a href="categories" class="card-image">
                          <img class="img rounded" src="assets/images/2149074074.jpg">
                        </a>
                        <div class="card-body">
                          <a href="categories" class="category h6 text-dark text-uppercase">
                            <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories
                          </a>
                          <h5 class="card-title h6 text-dark text-uppercase">
                            <a href="categories">Nom_Categorie</a>
                          </h5>
                          <div class="card-footer">
                            <div class="stats text-right">
                              <i class="fa fa-heart"></i> 342 ·
                              <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    <app-footer></app-footer>
</div>