<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="accueil" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/images/logo.png">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <a href="accueil" class="simple-text logo-normal">
        <img class="logo-dark" src="assets/images/v_logos.png" style="height:50px;" alt="logo">
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="accueil">
            <i class="nc-icon nc-layout-11"></i>
            <p>tableau de bord</p>
          </a>
        </li>
        <li>
          <a data-toggle="collapse" href="#pagesExamples">
            <i class="nc-icon nc-shop"></i>
            <p>Boutiques <b class="caret"></b></p>
          </a>
          <div class="collapse " id="pagesExamples">
            <ul class="nav">
              <li>
                <a href="boutiques-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau boutique </span>
                </a>
              </li>
              <li>
                <a href="boutiques">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste boutiques </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#pagesProduit">
            <i class="nc-icon nc-bag-16"></i>
            <p>Produits <b class="caret"></b></p>
          </a>
          <div class="collapse " id="pagesProduit">
            <ul class="nav">
              <li>
                <a href="produits-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau produit </span>
                </a>
              </li>
              <li>
                <a href="produits">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste produits </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#pagescategorie">
            <i class="nc-icon nc-tag-content"></i>
            <p>catégories <b class="caret"></b></p>
          </a>
          <div class="collapse " id="pagescategorie">
            <ul class="nav">
              <li>
                <a href="categories-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau catégorie </span>
                </a>
              </li>
              <li>
                <a href="categories">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste catégories </span>
                </a>
              </li>
            </ul>
            <ul class="nav">
              <li>
                <a href="categoriessous-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau sous-catégorie </span>
                </a>
              </li>
              <li>
                <a href="categoriessous">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste sous-catégories </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#pagesmarque">
            <i class="now-ui-icons location_bookmark"></i>
            <p>marques <b class="caret"></b></p>
          </a>
          <div class="collapse " id="pagesmarque">
            <ul class="nav">
              <li>
                <a href="marques-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau marque </span>
                </a>
              </li>
              <li>
                <a href="marques">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste marques </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#pagescommande">
            <i class="nc-icon nc-watch-time"></i>
            <p>commandes <b class="caret"></b></p>
          </a>
          <div class="collapse " id="pagescommande">
            <ul class="nav">
              <li>
                <a href="commandes">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste commandes </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#pageslivraison">
            <i class="nc-icon nc-delivery-fast"></i>
            <p>livraisons <b class="caret"></b></p>
          </a>
          <div class="collapse " id="pageslivraison">
            <ul class="nav">
              <li>
                <a href="livreurs-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau livreur </span>
                </a>
              </li>
              <li>
                <a href="livreurs">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-user-run"></i></span>
                  <span class="sidebar-normal"> Liste livreurs </span>
                </a>
              </li>
              <li>
                <a href="livraisons-gest">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-vector"></i></span>
                  <span class="sidebar-normal"> Gestion livraisons </span>
                </a>
              </li>
              <li>
                <a href="livraisons">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste livraisons </span>
                </a>
              </li>
              <li>
                <a href="livraisons">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-refresh-69"></i></span>
                  <span class="sidebar-normal"> Historiques livraisons </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#pointRelais">
            <i class="nc-icon nc-tap-01"></i>
            <p>Points rélais<b class="caret"></b></p>
          </a>
          <div class="collapse " id="pointRelais">
            <ul class="nav">
              <li>
                <a href="points-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau points rélais </span>
                </a>
              </li>
              <li>
                <a href="points">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste points rélais </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#SiteVille">
            <i class="nc-icon location_pin"></i>
            <i class="now-ui-icons location_pin"></i>
            <p>Site de ville<b class="caret"></b></p>
          </a>
          <div class="collapse " id="SiteVille">
            <ul class="nav">
              <li>
                <a href="villes-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau Site de ville </span>
                </a>
              </li>
              <li>
                <a href="villes">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste Site de ville </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#sitePays">
            <i class="now-ui-icons location_map-big"></i>
            <p>Site de pays<b class="caret"></b></p>
          </a>
          <div class="collapse " id="sitePays">
            <ul class="nav">
              <li>
                <a href="pays-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau Site de pays </span>
                </a>
              </li>
              <li>
                <a href="pays">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste Site de pays </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#pagesclient">
            <i class="nc-icon nc-badge"></i>
            <p>clients <b class="caret"></b></p>
          </a>
          <div class="collapse " id="pagesclient">
            <ul class="nav">
              <li>
                <a href="clients-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau client </span>
                </a>
              </li>
              <li>
                <a href="clients">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste clients </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#pagesuser">
            <i class="now-ui-icons users_circle-08"></i>
            <p>Adminis <b class="caret"></b></p>
          </a>
          <div class="collapse " id="pagesuser">
            <ul class="nav">
              <li>
                <a href="users-new">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-simple-add"></i></span>
                  <span class="sidebar-normal"> Nouveau Utilisateur </span>
                </a>
              </li>
              <li>
                <a href="users">
                  <span class="sidebar-mini-icon"><i class="nc-icon nc-bullet-list-67"></i></span>
                  <span class="sidebar-normal"> Liste Utilisateurs </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>