
<hr>
<footer class="footer" data-background-color="black">
  <div class=" container ">
    <nav>
      <i class="fas fa-cc-paypal m-2 text-sm"></i>
      <i class="fas fa-cc-visa m-2 text-sm"></i>
      <i class="fas fa-cc-mastercard m-2 text-sm"></i>
      <i class="fas fa-cc-discover m-2 text-sm"></i>
      <i class="fas fa-cc-amex m-2 text-sm"></i>
    </nav>
    <div class="copyright" id="copyright">
      &copy; 2025 <span class="text-uppercase font-weight-bold text-primary">Admin • Metanov </span>. Réserve tous les droits.
    </div>
  </div>
</footer>