
<hr>
<footer class="footer" data-background-color="black">
  <div class=" container ">
    <nav>
      <div class=""> Dévélopper par 
        <button class="btn btn-default btn-round btn-sm"  data-toggle="modal" data-target="#exampleModal"> <i class="now-ui-icons tech_laptop"></i> KELETECH </button> </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-uppercase" id="exampleModalLabel">
                <a href="#pablo">
                  <img src="assets/images/v_logos.png" alt="" class="logo col-3">
                </a> 
                <span class="text-dark font-weight-bold"> &nbsp; 
                  <i class="nc-icon nc-button-play"></i> &nbsp; KELETECH
                </span>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row col-12">
                <div class="col-12 row">
                  <div class="col-12 strong text-uppercase font-weight-bold">
                    M. Ousmane Daba DIALLO
                  </div>
                  <div class="col-12 small">
                    <span class="text-muted"> &nbsp; 
                      <i class="nc-icon nc-button-play"></i> &nbsp; Dr. Genie en Informatique
                   </span>
                  </div>
                </div>
                <div class="col-12 row mt-4">
                  <div class="col-12 strong text-uppercase font-weight-bold">
                    M. Boubacar Sangare
                  </div>
                  <div class="col-12 small">
                    <span class="text-muted"> &nbsp; 
                      <i class="nc-icon nc-button-play"></i> &nbsp; Developper en Informatique
                   </span>
                  </div>
                </div>
                <div class="col-12 row mt-4">
                  <div class="col-12 strong text-uppercase font-weight-bold">
                    M. Doudou S DIONE
                  </div>
                  <div class="col-12 small">
                    <span class="text-muted"> &nbsp; 
                      <i class="nc-icon nc-button-play"></i> &nbsp; Chef de projet Metanov
                   </span>
                  </div>
                </div>
                <div class="col-12 row mt-4">
                  <div class="col-12 strong text-uppercase font-weight-bold">
                    Mme. Mame N'Diaya LÔ
                  </div>
                  <div class="col-12 small">
                    <span class="text-muted"> &nbsp; 
                      <i class="nc-icon nc-button-play"></i> &nbsp; Coordinatrice du Projet
                   </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer small text-muted text-center mt-4 col-12">
              KELETECH a dévéloppé l'Application METANOV 
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="copyright" id="copyright">
      &copy; 2025 <span class="text-uppercase font-weight-bold text-primary">Admin • Metanov </span>. Réserve tous les droits.
    </div>
  </div>
</footer>