<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12 mt-4">
            <div class="card ">
              <div class="card-header ">
                <span class="text-dark h4 text-uppercase">
                  <i class="nc-icon nc-shop"></i> Modifier boutique
                </span>
                <a href="boutiques" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                    <i class="nc-icon nc-shop"></i> listes boutiques 
                </a>
                <a href="boutiques-new" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                  <i class="nc-icon nc-shop"></i> Nouveau boutique 
                </a>
              </div>
              <div class="card-body ">
                <div class="account-details-form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 text-center">
                              <small>image pour profile</small>
                              <button class="btn btn-primary btn-sm btn-link btn-round col-10"> <i class="nc-icon nc-image"></i> inserer image </button>
                            </div>
                            <div class="col-lg-6 text-center">
                              <small>image pour couverture de profile</small>
                              <button class="btn btn-primary btn-sm btn-link btn-round col-10"> <i class="nc-icon nc-image"></i> inserer image </button>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-shop"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nom boutique">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-shop"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Pseudo boutique">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-mobile"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Numero de téléphone">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="adresse email">
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="now-ui-icons location_pin"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Adresse complet">
                              </div>
                            </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="now-ui-icons location_pin"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Seconde adresse">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Ville">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Quartier">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Rue">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Porte">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="input-group input-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="now-ui-icons location_pin"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Lien map (GPS)">
                              </div>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
              <div class="card-footer text-center p-4">
                <hr>
                
                <button class="btn btn-primary col-10 btn-round btn-sm m-1"> Enregistrer boutique </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>