<app-nav></app-nav>
<div class="wrapper">
      <div class="main mt-4">
        <div class="section">
            <div class="container">

                <div class="row">
                  <div class="col-md-12">
                      <h4><small>Panier des produits selectionner</small></h4>
                  </div>
                  <table class="table table-shopping">
                    <thead class="">
            
                        <th class="text-center">
                          #CODE
                        </th>
            
                        <th>
            
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;Produits
            
                        </th>
            
                        <th>
            
                            Couleur
            
                        </th>
            
                        <th>
            
                            Tailles
            
                        </th>
            
                        <th class="text-right">
            
                            Prix
            
                        </th>
            
                        <th class="text-right">
            
                            Quantites
            
                        </th>
            
                        <th class="text-right">
            
                            Montant
            
                        </th>
            
                    </thead>
                    <tbody>
            
                        <tr>
                            <td>
                                <div class="img-container">
                                    <img src="assets/images/shop6.png" height="60px" alt="...">
                                </div>
                            </td>
                            <td class="td-name">
                                <a href="#jacket">Nom_Produit</a>
                                <br />
                                <small>
                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                  <a href="collections-listes" class="text-dark"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                </small>
                            </td>
                            <td>
                                Blanc
                            </td>
                            <td>
                                M
                            </td>
                            <td class="td-number">
                                3 390 <small>F CFA</small>
                            </td>
                            <td class="td-number">
                                1
                                <div class="btn-group">
                                    <button class="btn btn-dark btn-sm"> <i class="fa fa-plus"></i> </button>
                                    <button class="btn btn-dark btn-sm"> <i class="fa fa-minus"></i> </button>
                                </div>
                            </td>
                            <td class="td-number">
                              549 <small>F CFA</small>
                            </td>
                            <td class="td-actions">
                                <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-neutral">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-container">
                                    <img src="assets/images/shop20.png" height="60px" alt="...">
                                </div>
                            </td>
                            <td class="td-name">
                                <a href="#jacket">Nom_Produit</a>
                                <br />
                                <small>
                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                  <a href="collections-listes" class="text-dark"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                </small>
                            </td>
                            <td>
                                Blanc
                            </td>
                            <td>
                                M
                            </td>
                            <td class="td-number">
                                3 390 <small>F CFA</small>
                            </td>
                            <td class="td-number">
                                1
                                <div class="btn-group">
                                    <button class="btn btn-dark btn-sm"> <i class="fa fa-plus"></i> </button>
                                    <button class="btn btn-dark btn-sm"> <i class="fa fa-minus"></i> </button>
                                </div>
                            </td>
                            <td class="td-number">
                              549 <small>F CFA</small>
                            </td>
                            <td class="td-actions">
                                <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-neutral">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-container">
                                    <img src="assets/images/shop8.png" height="60px" alt="...">
                                </div>
                            </td>
                            <td class="td-name">
                                <a href="#jacket">Nom_Produit</a>
                                <br />
                                <small>
                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                  <a href="collections-listes" class="text-dark"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                </small>
                            </td>
                            <td>
                                Blanc
                            </td>
                            <td>
                                M
                            </td>
                            <td class="td-number">
                                3 390 <small>F CFA</small>
                            </td>
                            <td class="td-number">
                                1
                                <div class="btn-group">
                                    <button class="btn btn-dark btn-sm"> <i class="fa fa-plus"></i> </button>
                                    <button class="btn btn-dark btn-sm"> <i class="fa fa-minus"></i> </button>
                                </div>
                            </td>
                            <td class="td-number">
                              549 <small>F CFA</small>
                            </td>
                            <td class="td-actions">
                                <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-neutral">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                            </td>
                        </tr>
            
                        <tr>
                            <td colspan="3">
                              <input type="text" name="coupon_code" id="coupon_code" class="input-text form-control" value placeholder="code promo">
                              <input type="submit" name="apply_coupon" class="btn btn-sm btn-success" value="Appliquer">
                            </td>
                            <td class="td-total">
                                Total
                            </td>
                            <td class="td-price">
                              2,346 <small>F CFA</small>
                            </td>
                            <td colspan="3" class="text-right">
            
                                <a href="mode-payement" type="button" rel="tooltip" class="btn btn-sm btn-success btn-round ">
            
                                  <span><i class="fa fa-credit-card"></i> Mode de payement</span>
            
                                    <i class="now-ui-icons arrows-1_minimal-right"></i>
            
                                </a>
            
                            </td>
                        </tr>
            
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    <app-footer></app-footer>
</div>