<div class="wrapper ">
  <app-header></app-header>
  <div class="main-panel">
    <!-- Navbar -->
    <app-nav></app-nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="card ">
            <div class="card-header ">
              <span class="text-dark h4 font-weight-bold text-uppercase">
                <i class="nc-icon nc-simple-add"></i> Nouveau admin
              </span>
              <a href="admins" class="btn btn-primary btn-round btn-sm float float-right m-1"> <i
                  class="nc-icon nc-bullet-list-67"></i> liste admins </a>
            </div>
            <div class="card-body ">
              <div class="account-details-form">
                <form class="form" [formGroup]="userForm" (ngSubmit)="enregistrer()">
                  <div class="row">
                    <div class="col-lg-4">
                      <small class="card-title">image pour profile</small> <br>
                      <div class="fileinput fileinput-new text-center">
                        <div class="fileinput-new thumbnail">
                          <img src="assets/images/default-avatar.png" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                          <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new"><i class="nc-icon nc-image"></i> Select image</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="..." />
                          </span>
                          <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists"
                            data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <small class="card-title">image pour couverture de profile</small> <br>
                      <div class="col-12">
                        <img src="assets/images/promo_2_bg.jpg" alt="...">
                      </div>
                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                          <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new"><i class="nc-icon nc-image"></i> Select image</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="..." />
                          </span>
                          <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists"
                            data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-single-02"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Prénom" formControlName="prenom">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-single-02"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-mobile"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Numero de téléphone"
                          formControlName="telephone">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-email-85"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="adresse email" formControlName="email">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-mobile"></i>
                          </span>
                        </div>
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="fonction">
                          <option value="Homme">Homme</option>
                          <option value="Femme">Femme</option>
                          <option value="Ignore">Ignore</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-calendar-60"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Date d'anniversaire"
                          formControlName="date_naissance">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="now-ui-icons location_pin"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Adresse complet" formControlName="adresse">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="now-ui-icons location_pin"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Seconde adresse"
                          formControlName="profession">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-pin-3"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Pays" formControlName="pays">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-map-big"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ville" formControlName="ville">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-map-big"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Quartier" formControlName="quartier">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-map-big"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Rue" formControlName="rue">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-map-big"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Porte" formControlName="porte">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="now-ui-icons location_pin"></i>
                          </span>
                        </div>
                        <select name="name1" id="name1" formControlName="typeuser_id">
                          <option *ngFor="let typeuser of typeusers" value="{{typeuser.id}}">
                            {{typeuser.designation}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="now-ui-icons location_pin"></i>
                          </span>
                        </div>
                        <select name="name2" id="name2" formControlName="boutique_id">
                          <option *ngFor="let boutique of boutiques" value="{{boutique.id}}">
                            {{boutique.nom}} {{boutique.adresse}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <button class="col-12 btn btn-dark p-2 bg-light text-center text-dark" (click)="changerAffichage()">
                      Créer un mot de passe
                    </button>
                    <div class="col-lg-6" *ngIf="afficherMessage">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-lock-circle-open"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Mot de passe" formControlName="password">
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="afficherMessage">
                      <div class="input-group input-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-lock-circle-open"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Confirme Mot de passe"
                          formControlName="password">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-center p-4">
                    <hr>
                    <button class="btn btn-primary col-10 btn-round btn-sm m-1" type="submit"> Enregistrer admin
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>