<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:;">
        <img class="logo-dark" src="assets/images/v_logos.png" style="height:35px;" alt="logo"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="recherche . . . ">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown">
            <span href=""  class="btn btn-neutral btn-icon btn-twitter btn-round btn-sm" 
            style="background-image:url('assets/images/default-avatar.png'); background-size: 100% 100%;" title="Follow us">
              
            </span>
            <p> &nbsp; Bintou DIONE</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
            <a class="dropdown-item text-uppercase" href="profile">
              <i class="now-ui-icons users_single-02"></i> Profile
            </a>
            <a class="dropdown-item text-uppercase" href="notification">
              <i class="nc-icon nc-bell-55"></i> Notification
            </a>
            <a class="dropdown-item text-uppercase" href="password">
              <i class="nc-icon nc-lock-circle-open"></i> modifier mot de passe
            </a>
            <a class="dropdown-item text-uppercase" target="_blank" href="">
              <i class="nc-icon nc-minimal-right"></i> Déconnexion
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>