<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12 mt-4">
            <div class="card">
              <div class="card-header ">
                <span class="text-dark h4 text-uppercase">
                  <i class="nc-icon nc-tap-01"></i> Liste points
                </span>
                <a href="points-new" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                  <i class="nc-icon nc-simple-add"></i> Nouveau points 
                </a>
              </div>
              <div class="card-body ">
                
                <div class="account-details-form">
                  
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-dark">
                        <th class="col-3">
                          <i class="nc-icon nc-tap-01"></i> Points
                        </th>
                        <th class="col-2">
                          <i class="nc-icon nc-bag-16"></i> Produits
                        </th>
                        <th class="col-2">
                          <i class="nc-icon nc-shop"></i> Boutiques
                        </th>
                        <th class="text-right">
                          Actions
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="row">
                              <div class="col-md-4 col-4">
                                
                                <div class="fileinput-new thumbnail">
                                    <img src="assets/images/shop10.png" alt="">
                                  </div>
                              </div>
                              <div class="col-md-8 col-8">
                                Nom_points 
                                <br />
                                <span class="text-muted"><small> <i class="nc-icon nc-check-2"></i> Active</small></span>
                              </div>
                            </div>                            
                          </td>
                          <td>
                            45 
                          </td>
                          <td>
                            1578
                          </td>
                          <td class="text-right">
                            <a href="points-modifier" class="btn btn-success btn-outline-success  btn-round btn-sm m-1"> <i class="nc-icon nc-caps-small"></i> Modifier </a>
                            <a href="points-voir" class="btn btn-primary btn-outline-primary  btn-round btn-sm m-1"> <i class="nc-icon nc-single-copy-04"></i> Voir </a>
                            <button class="btn btn-danger btn-outline-danger btn-round btn-sm m-1"> <i class="nc-icon nc-simple-remove"></i> Suprimer </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>