<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto mt-4">
              <div class="card">
                <div class="card-header pb-4 row text-center contant-justify-center">
                  <span class="text-dark h4 text-uppercase col-12">
                    <i class="nc-icon nc-tag-content"></i> categories
                  </span>
                  <a href="categories-new" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                    <i class="nc-icon nc-simple-add"></i> Nouveau categorie 
                  </a>
                  <a href="categories-modifier" class="btn btn-success btn-outline-success btn-round btn-sm float float-right m-1"> 
                    <i class="nc-icon nc-caps-small"></i> Modifier 
                  </a>
                  <a href="categories" class="btn btn-dark btn-round btn-sm float float-right m-1"> 
                    <i class="nc-icon nc-bullet-list-67"></i> Listes categorie 
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-8 ml-auto mr-auto">
              <div class="card card-upgrade">
                <div class="card-header text-center">
                  <h4 class="card-title">Nom_Catégories</h4>
                    <p class="card-category">
                        
                    </p>
                </div>
                <div class="card-body">
                  <div class="table-responsive table-upgrade">
                    <table class="table">
                      <thead>
                        <th></th>
                        <th class="text-center">Value</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Nom</td>
                          <td class="text-center">Nom_Catégories</td>
                        </tr>
                        <tr>
                          <td><i class="nc-icon nc-shop"></i> Boutique</td>
                          <td class="text-center">13</td>
                        </tr>
                        <tr>
                          <td><i class="nc-icon nc-bag-16"></i> Produits</td>
                          <td class="text-center">7</td>
                        </tr>
                        <tr>
                          <td><i class="nc-icon nc-paper"></i> Description de catégorie</td>
                          <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>à
                </div>
              </div>
            </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>