<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12 mt-4">
            <div class="card ">
              <div class="card-header ">
                <span class="text-dark h4 text-uppercase">
                    <i class="nc-icon nc-bag-16"></i> Nouveau produit
                </span>
                <a href="produits" class="btn btn-primary btn-round btn-sm float float-right m-1"> 
                  <i class="nc-icon nc-bullet-list-67"></i> Liste produits 
                </a>
              </div>
              <div class="card-body ">
                <div class="account-details-form">
                    <form [formGroup]="produitForm" (ngSubmit)="valide()">
                        <div class="row">
                          <div class="col-lg-4">
                            <small class="card-title">image pour profile du produit</small> <br>
                            <div class="fileinput fileinput-new text-center">
                              <div class="fileinput-new thumbnail">
                                <img src="assets/images/2147949844.jpg" class="col-12" alt="...">
                              </div>
                              <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                  <span class="fileinput-new"><i class="nc-icon nc-image"></i> Select image du produit</span>
                                  <span class="fileinput-exists">Change</span>
                                  <input type="file" name="..." />
                                </span>
                                <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <small class="card-title text-center">image pour couverture de profile produit </small> <br>
                            <div class="col-12">
                              <img src="assets/images/promo_2_bg.jpg" alt="...">
                            </div>
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                              <div class="fileinput-preview fileinput-exists thumbnail"></div>
                              <div>
                                <span class="btn btn-rose btn-round btn-file">
                                  <span class="fileinput-new"><i class="nc-icon nc-image"></i> Select image</span>
                                  <span class="fileinput-exists">Change</span>
                                  <input type="file" name="..." />
                                </span>
                                <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                              </div>
                            </div>
                          </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-bag-16"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nom produit" formControlName="nom">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-money-coins"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Prix de produit" formControlName="prix_unitaire">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-money-coins"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Ancien prix de produit">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-money-coins"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre de stocke" formControlName="quantite">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="nc-icon nc-money-coins"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="stocke">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1"><i class="nc-icon nc-tag-content"></i> Catégorie de produit </label>
                                  <select class="form-control" id="exampleFormControlSelect1" formControlName="categorie_produit_id">
                                    <option *ngFor="let categ of categories" value="{{categ.id}}">{{categ.designation}}</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1"><i class="nc-icon nc-shop"></i> Boutique de produit </label>
                                  <select class="form-control" id="exampleFormControlSelect1" formControlName="categorie_produit_id">
                                    <option value="1">1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                              <ul class="nav nav-pills nav-pills-default" role="tablist">
                                <li class="nav-item">
                                  <a class="badge badge-default m-1" data-toggle="tab" href="#link1" role="tablist">
                                    <i class="nc-icon nc-mobile"></i> Téléphone & Tablette
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="badge badge-default m-1" data-toggle="tab" href="#link2" role="tablist">
                                    <i class="nc-icon nc-tv-2"></i> éléctroniques
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="badge badge-default m-1" data-toggle="tab" href="#link3" role="tablist">
                                    <i class="nc-icon nc-vector"></i> Electroménageres
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="badge badge-default m-1" data-toggle="tab" href="#link4" role="tablist">
                                    <i class="nc-icon nc-vector"></i> Electroménageres
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="badge badge-default m-1" data-toggle="tab" href="#link5" role="tablist">
                                    <i class="nc-icon nc-tie-bow"></i> Habits et Chaussures
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="badge badge-default m-1" data-toggle="tab" href="#link6" role="tablist">
                                    <i class="nc-icon nc-bus-front-12"></i> Automobile
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="badge badge-default m-1" data-toggle="tab" href="#link7" role="tablist">
                                    <i class="nc-icon nc-shop"></i> Maison et Bureau
                                  </a>
                                </li>
                              </ul>
                              <div class="tab-content tab-space">
                                <div class="tab-pane active" id="link1">
                                  <p class="category">Descriptif technique</p>
                                  <div class="row form-row">
                                    <div class="form-group col-md-6">
                                      <label for="sku">SKU (série) </label>
                                      <input type="text" class="form-control" id="sku" placeholder="série">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="modele">Modèle</label>
                                      <input type="text" class="form-control" id="modele" placeholder="Modèle">
                                    </div>
                                    <div class="col-lg-12">
                                      <span class="label col-12">Selection couleur</span> <br>
                                      
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Noir
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Blanc
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Rouge
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4"> Blue
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5"> Vert
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6"> Jaune
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7"> Orange
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8"> Violet
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9"> Marron
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10"> Or 
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11"> Rose
                                          <span class="form-check-sign"></span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="poids">Poids (g)</label>
                                      <input type="text" class="form-control" id="poids" placeholder="Poids (g)">
                                    </div>
                                    
                                  </div>
                                  <p class="category">Caractéristiques</p>
                                  <div class="row form-row">
                                    <p class="text-dark strong col-12">Batterie et  chargeur</p>
                                    <div class="form-group col-md-6">
                                      <label for="inputEmail4">Micro Usb</label>
                                      <input type="email" class="form-control" id="inputEmail4" placeholder="Micro Usb">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="usbtype">USB</label>
                                      <input type="text" class="form-control" id="usbtype" placeholder="USB">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="cbaterie">Capacité de la batterie</label>
                                      <input type="text" class="form-control" id="cbaterie" placeholder="Capacité de la batterie">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="pcmax">Prise en charge maximale </label>
                                      <input type="text" class="form-control" id="pcmax" placeholder="Prise en charge maximale ">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="cbrec">Chargeur de boîte de réception</label>
                                      <input type="text" class="form-control" id="cbrec" placeholder="Chargeur de boîte de réception">
                                    </div>
                                  </div>
                                  <div class="row form-row">
                                    <p class="text-dark text-uppercase mt-4 strong col-12"><i class="nc-icon nc-tablet-2"></i> Affichage</p>
                                    <div class="form-group col-md-6">
                                      <label for="pixel">Pixel</label>
                                      <input type="text" class="form-control" id="pixel" placeholder="Pixel">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="megapixels">Mégapixels </label>
                                      <input type="text" class="form-control" id="megapixels" placeholder="Mégapixels ">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="formatImg">Format d'image</label>
                                      <input type="text" class="form-control" id="formatImg" placeholder="Format d'image">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="epaisseur">Epaisseur</label>
                                      <input type="text" class="form-control" id="epaisseur" placeholder="Epaisseur">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="ecran">Écran</label>
                                      <input type="text" class="form-control" id="ecran" placeholder="Écran">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="ecran">Corps</label>
                                      <input type="text" class="form-control" id="ecran" placeholder="Corps">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="lmax">Luminosité maximale </label>
                                      <input type="text" class="form-control" id="lmax" placeholder="Luminosité maximale ">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="trmax">Taux de rafraîchissement maximum</label>
                                      <input type="text" class="form-control" id="trmax" placeholder="Taux de rafraîchissement maximum">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="Tetac">Taux d'échantillonnage tactile</label>
                                      <input type="text" class="form-control" id="Tetac" placeholder="Taux d'échantillonnage tactile">
                                    </div>
                                  </div>
                                  <div class="row form-row">
                                    <p class="text-dark text-uppercase mt-4 strong col-12"><i class="nc-icon nc-ruler-pencil"></i> Dimension</p>
                                    <div class="form-group col-md-6">
                                      <label for="Hauteur">Hauteur</label>
                                      <input type="text" class="form-control" id="Hauteur" placeholder="Hauteur">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="largeur">Largeur</label>
                                      <input type="text" class="form-control" id="largeur" placeholder="Largeur">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="PrendCharge">Epaisseur</label>
                                      <input type="text" class="form-control" id="PrendCharge" placeholder="Epaisseur">
                                    </div>
                                  </div>
                                  <div class="row form-row">
                                    <p class="text-dark strong col-12">Camera et chargeur</p>
                                    <div class="form-group col-md-6">
                                      <label for="inputEmail4">Micro Usb</label>
                                      <input type="email" class="form-control" id="inputEmail4" placeholder="Micro Usb">
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane" id="link2">
                                  Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                  <br /><br />Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                </div>
                                <div class="tab-pane" id="link3">
                                  Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                  <br /><br />Dynamically innovate resource-leveling customer service for state of the art customer service.
                                </div>
                              </div>
                            </div>
                            
                        </div>
                        <div class="card-footer text-center p-4">
                          <hr>
                          
                          <button class="btn btn-primary col-10 btn-round btn-sm m-1"> Enregistrer produit </button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>